html
  head
    title= title
  body
    h1= header
    p= message
    <a class="tooltip" href="#">Crown of Cowardly Kings</a>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    script.
      const item = {
        name: 'Crown of Cowardly Kings',
        rarity: 'rare',
        modifiers: {
          stamina: 'd6 + 3',
          intellect: 'd6 + 12',
          agility: 'd4 + 2',
        },
        equipEffects: [2, 15], // @todo implement
        description: '"A crown should befit a king. For you cowardly lot, it shall be from thorns and blood!"',

        tooltip: function() {
          function modifiers() {
            return (
              '<ul>' +
                this.modifiers.forEach(modifier => '<li>' + modifier + '</li>') +
              '</ul>'
            );
          },

          return (
            `<h3>${this.name}</h3>` +
            `<quote>${this.description}</quote>`
          );
        },
      };

      tippy.setDefaultProps({
        allowHTML: true,
        arrow: false,
        duration: 0,
      });

      tippy('.tooltip', {
          content: item.tooltip(),
      });
